@{
    ViewData["Title"] = "Index";
}

@for(int i = 0; i < ViewBag.listaPartidos.Count; i++){
  <h2>@ViewBag.listaPartidos[i].Nombre</h2>
  
  @* <a href='@Url.Action("VerDetallePartido", "ViewBag.listaPartidos[i].IdPartido")'></a> COMO SE MANDA EL IDPARTIDO*@
  <a href='@Url.Action("VerDetallePartido","Home", "@ViewBag.listaPartidos[i]")'><img src="@ViewBag.listaPartidos[i].Logo"></a>
  <a href='@Url.Action("VerDetallePartido", "Home","@ViewBag.listaPartidos[i].IdPartido")'>Ver detalle del partido</a>

}
